
// color var scss

$color-yellow: #e8e759;
$color-yellow-dark: #cccb1e;
$color-blue: #4444e4;
$color-blue-light: #8e8eec;
$color-blue-dark: #1818a5;
$color-blue-darkest: #0f0f6c;
$color-blue-extremely-dark: #080840;
$color-grey: #59e8b3;
$color-pink: #e17582;




// button scss var

$base-line-padding:20px;

$deult-boder-radius:10px;

$defulat-margin:10px;

$default-margin-top:20px;

