@import'./var';

@import'./mixins';

@import'./button';


.btn{
    // background-color: $color-white;
    // color:$color-green;
    // padding: $default-padding;
    // margin-top: $default-margin-top;
    // margin: $default-margin;
    clip: auto;
    @include commom-class-for-button;
    text-decoration: double;
    text-transform: uppercase;
    background-color: aquamarine;
}


.btn-1{
    // background-color: $color-white;
    // color: $color-yellow;
    // margin-top: $default-margin-top;
    // padding: $default-padding;
    // margin: $default-margin;
   
    @include commn-btn2;
    text-transform: capitalize;
    box-shadow: 10px solid red;
    // background-color: aqua;

}